      body {
        padding-top: 7vh;
        background: #fafafa;
      }


      .container {
        padding: 0 10%;
      }

      /****/

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7vh;
        border-bottom: 2px solid #aaa;
        position: fixed;
        top: 0;
        width: 80%;
        flex-basis: 100%;
        background: #fff;
        backface-visibility: hidden;
      }
      
      .header-logo {
        background: url(../imgs/logo-instalura.svg) no-repeat left;
        height: 1em;
        padding-left: 1.5em;
        padding-bottom: .2em;
        filter: hue-rotate(80deg);
        transition: .4s;
      }

      .header-logo:hover{
        filter: hue-rotate(0);
      }
      
      .header-busca-campo {
        padding: .5em;
        margin-left: 1em;
        background: #fafafa;
        border: 1px solid #dbdbdb;
        color: #262626;
      }
      
      .header-busca-campo:focus {
        background: #fff;
        outline: 1px solid #ccc;
        color: #222;
      }

      .header-busca-submit {
        border: 0;
        background: url(../imgs/busca-icone.png) center center no-repeat #069;
        text-indent: -9999px;
        overflow: hidden;
        background-size: 20px;
        color: #fff;
        min-width: 32px;
        height: 2.4em;
        transition: .4s;
      }

      .header-busca-submit:hover {
        background-color: #5ad4c9;
      }

      .header-nav {
        list-style: none
      }

      .header-nav-item a {
        text-decoration: none;
        color: #069;
        font-size: 3em;
      }    

      .header-nav-item a:hover{
        color: #5ad4c9;
      }

      /*******/


      .foto {
        background-color: #fff;
        border: 1px solid #efefef;
        border-radius: 3px;
        max-width: 550px;
        margin: 2em auto;
        
      }

      .foto-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;
      }


      .foto-usuario {
        display: flex;
        align-items: center;
        width: 10%;
        margin-left: 0;
        font-weight: bold;
      }
      
      .foto-usuario a {
        text-decoration: none;
        color: #069;
      }
      
      .foto-usuario img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: .7em;
      }
      
      .foto-data {
        color: #999;
      }

      .foto-src {
        max-width: 100%;
      }

      /*****/


      .foto-info {
        padding: 1em;
      }

      .foto-info-likes {
        list-style: none;
      }

      .foto-info-likes a {
        text-decoration: none;
        color: #069;
        font-weight: bold;
      }

      .foto-info-likes li {
        display: inline-block;
      }

      .foto-info-autor {
        font-weight: bold;
      }
      

      .foto-info-comentarios {
        list-style: none;
        padding: 0;
        line-height: 1.2;
        border-bottom: 1px solid #efefef;
        padding-bottom: 1em;
      }

      .comentario {
        margin-bottom: .6em;
      }

      
      /*****/
      
      .fotoAtualizacoes {
        display: flex;
        padding: 0 1em 1em 1em;
      }

      .fotoAtualizacoes-like {
        background: url(../imgs/s2.png) no-repeat center center;
        background-size: 32px 32px;
        width: 44px;
        height: 44px;
        text-indent: -9999px;
        display: inline-block;
        transition: .4s;
        margin-right: 1em;
      }
      
      .fotoAtualizacoes-like:hover {
        background-image: url(../imgs/s2-check.png)
      }

      
      .fotoAtualizacoes-form {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .fotoAtualizacoes-form-campo {
        border: 0;
        outline: 0;
        width: 60%;
      }
      
      .fotoAtualizacoes-form-submit {
        border: 0;
        background-color: #069;
        color: #fff;
        height: 2.4em;
      }
